$colors: (
    primary: (
        400: rgb(4, 144, 123),
    ),
    secondary: (
        300: hsl(347, 23%, 74%),
        400: hsl(347, 23%, 64%),
        500: hsl(347, 23%, 50%),
        600: hsl(347, 38%, 56%),
    ),
    neutral: (
        100: hsl(210, 11%, 89%),
        101: rgba(223, 229, 236, 0.61),
        300: hsl(214, 28%, 65%),
        400: hsl(212, 6%, 48%),
        800: hsl(214, 8%, 17%),
        900: hsl(240, 9%, 13%),
    ),
);
