.hero {
    min-height: calc(100vh - 5.975rem);
    background-size: cover;
    color: white;
    display: flex;
    isolation: isolate;
    .hero-intro {
        width: 40%;
        padding: 2em;
        padding-top: min(15vh, 10rem);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background: #355f08;
            mix-blend-mode: multiply;
        }
    }
}
