@use '../abstracts' as *;
@use '../utilities' as *;

.nav {
    background-color: var(--clr-neutral-100);
    padding: 0.8em 0;
}

.nav__container {
    display: flex;
    align-content: center;
    gap: 2em;
    z-index: 10;

    @include mq(small) {
        align-items: center;
        justify-content: space-between;
    }
}

.nav__toggle-background {
    position: absolute;
    top: 0;
    right: 0;
    /* bottom: 0; */
    height: 150%;
    width: 300px;
    display: block;
    background-color: #fff;
    z-index: 1;

    @include mq(small) {
        display: none;
    }
}

.nav__btn-toggle-menu {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    svg {
        margin: 0;
        padding: 0;
    }

    @include mq(small) {
        display: none;
    }
}

.nav__group {
    position: absolute;
    top: 100px;
    right: 0;
    width: 230px;
    color: #000;
    display: flex;
    flex-direction: column;

    @include mq(small) {
        all: unset;
        display: flex;
        align-items: center;

        .nav__link + .nav__link {
            margin-left: 1.3em;
        }
    }

    .nav__link {
        color: var(--clr-neutral-900);
        // text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.59);
        font-weight: 500;
        letter-spacing: 2px;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            left: 40%;
            bottom: -2px;
            width: 110%;
            height: 12px;
            transform: skew(-12deg) translateX(-50%);
            background: var(--clr-secondary-300);
            opacity: 0.5;
        }

        @include mq(small) {
            opacity: 1 !important;
            transform: none !important;

            &::before {
                content: "";
                all: unset;
            }

            &:hover::before {
                content: "";
                position: absolute;
                left: 40%;
                bottom: -2px;
                width: 110%;
                height: 12px;
                transform: skew(-12deg) translateX(-50%);
                background: var(--clr-secondary-300);
                opacity: 0.5;
            }
        }
    }
}
