@use '../abstracts' as *;
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital@0;1&display=swap");

.testimonials-container {
    background-color: #f1f1f1f1;
    padding: 4em 1em;
    text-align: center;
    min-height: 50vh;

    @include mq(small) {
        padding: 4em 3em;
        margin: 0 auto;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    background: #888 !important;
    width: auto;
    margin-top: -30px;
    padding: 0.75em 0.25em;
    font-weight: bold;
    font-size: 25px;
    z-index: 2;
    transition: background 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

    span {
        display: block;
        color: white;
    }

    &::before {
        content: unset;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.8) !important;
    }
}

.prev {
    border-radius: 3px 0 0 3px;
}

.next {
    border-radius: 0 3px 3px 0;
}

.card-container {
    padding-top: 8em;
}

.card {
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    background-color: #fff;
    // box-shadow: 1px 18px 31px 8px rgba(0, 0, 0, 0.38) !important;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    line-height: 2;
    padding: 2em;
    min-width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    &.grabbing {
        cursor: grabbing;
    }

    &-thumb {
        width: 7.5rem;
        height: 7.5rem;
        margin-top: -8em;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            border-radius: 50%;
            width: 130%;
            height: 130%;
            background-color: #f1f1f1;
            display: block;
            position: absolute;
            box-shadow: inset 0 -25px 12px -18px hsla(0, 0%, 0%, 0.1);
        }

        .client-img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 5;
            position: absolute;
            inset: 0;
        }
    }

    &-body {
        text-align: center;
        margin: 1.5rem;
        padding-top: 1em;

        .review {
            white-space: pre-wrap;
            word-break: break-word;
            font-family: "Noticia Text", serif !important;
            font-style: italic;
            color: hsl(250, 5%, 45%);
            font-weight: 400;
            position: relative;
            height: 100%;
            margin: 1rem 0 3rem;

            p {
                font-family: "Noticia Text", serif !important;
            }

            &::before,
            &::after {
                position: absolute;
                display: block;
                font-size: clamp(25em, 5vw, 30em);
                opacity: 0.2;
                line-height: 0;
                color: var(--clr-primary-400);
            }

            &::before {
                content: open-quote;
                left: -3rem;
                top: 10rem;
            }

            &::after {
                content: close-quote;
                right: -3rem;
                bottom: -2rem;
            }
        }

        .client-name {
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 600;
            color: var(--clr-neutral-400);
        }
    }
}

.indicators {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        padding: 0.5em;
        z-index: 2;

        &:hover,
        &.active {
            background-color: #717171;
        }
    }
}
