.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em 0;
    text-align: center;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    width: 50%;
}

.link {
    color: #fff;
    transition: transform 0.25s ease-in-out;

    svg {
        width: 50px;
        height: 50px;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        fill: #fff;
    }

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.copy {
    font-size: clamp(1rem, 5vh, 1.2rem);
    small {
        text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.59);
    }
}
