body,
.root-transition {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html,
body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

header,
main {
    flex: 1;
}

main {
    margin-top: 1rem;
}

header {
    isolation: isolate;
}

footer {
    flex-shrink: 0;
    background-color: var(--clr-primary-400);
    color: #ffffff;
    padding: 1em 0;
}
