@use 'base';
@use 'utilities';
@use 'components';

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

a {
    color: green;
    text-decoration: none;
    padding-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
